
@import "./common";
html{ position: relative;}
html,body{ min-height: 100%; height: auto;}
body{ font-size: 14px; color: #aeafaf; min-width: 1920px; width: 1920px; overflow-x:auto;
	background: url("../images/body_bg.jpg") repeat 0 0; padding-bottom: 8px;
}

@mixin bg($img,$x:100%,$y:100%){
	background-repeat: no-repeat;
	background-image: url('../../images/#{$img}');
	background-size: $x $y;
}
@mixin bg2($img,$x:100%,$y:100%){
	background-repeat: no-repeat;
	background-image: url('../../images/#{$img}\@2x.png');
	background-image: -webkit-image-set(
									url('../../images/#{$img}\@2x.png') 2x,
									url('../../images/#{$img}\@3x.png') 3x);
	background-size: $x $y;
}
@mixin eps{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

$shadowColor: rgba(31,120,255,0.2);
%common-shadow{
	background-color: #fff;
	border-radius: 0.06rem;
	box-shadow: 0 0 0.1rem $shadowColor;
}

$shadowColorBtn: rgba(31,120,255,0.4);
%common-shadowBtn{
	display: block;
	margin: 0 auto;
	color: #fff;
	font-size: 0.34rem;
	text-align: center;
	background-image: linear-gradient(168deg,rgb(24,96,255),rgb(55,172,255));
	border-radius: .71rem;
	box-shadow: 0 .1rem .1rem $shadowColorBtn;

	&.disabled{
		opacity: 0.3;
	}
}
.ui.form input:not([type]), .ui.form input[type=date], .ui.form input[type=datetime-local], .ui.form input[type=email], .ui.form input[type=file], .ui.form input[type=number], .ui.form input[type=password], .ui.form input[type=search], .ui.form input[type=tel], .ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url],.ui.search.selection.dropdown>input.search{
	padding-top: 8px !important; padding-bottom: 7px !important;
}
.ui.button.orange{
	background-color: #f93 !important;
	font-weight: normal !important;
}
.ui.button.orange:hover{
	background-color: #f5891c !important;
}
.ui.button.grey{
	background-color: #f0f0f0 !important;
	color: #585858 !important;
	font-weight: normal;
}
.ui.button.grey:hover{
	background-color: #e2e1e1 !important;
}
.ui.button.orange.grey{
	background-color: #f0f0f0 !important;
	cursor: default;
}
select.ui.dropdown{
	line-height: 1;
	height: 34px;
}
.ui.dimmer{
	background-color: rgba(0,0,0,.6);
}

.ui.checkbox label{
	padding-left: 20px;
	color: $gery !important;;
	margin-right: 8px !important;
	font-size: 13px;
}
.ui.checkbox	label:before{
	background: transparent !important;
	border: 1px solid $gery !important;
	width: 15px;
	height: 15px;
}
.ui.checkbox input:checked~label:after{
	color: $gery;
	font-weight: normal;
	font-size: 14px;
}

.ui.dropdown{
	&.active{
		> .ui-title-button{
			@include blackBg(.5);
		}
	}
	.menu{
		border-radius: 0;
		@include blackBg(.5);
		color: $gery;
		margin-top: 2px;
		.item{
			padding-left: 6px !important;
			padding-right: 6px !important;
		}
	}
}

.ui-title-button{
	@include blackBg(.3);
	font-size: $f15;
	padding: 1px 10px;
	display: inline-block;
	margin-left: 10px;
	cursor: pointer;
	vertical-align: middle;
	line-height: 1;
	&:first-child{
		margin-left: 0;
	}
	&.default{
		cursor: default;
		pointer-events: none;
	}
	img{display: block;}
}

.padding{
	&.tb{ padding-bottom: 0; padding-top: 0;}
	&.lr{ padding-left: 0; padding-right: 0;}
	&.tp{ padding-top: 0;}
	&.bp{ padding-bottom: 0;}
	&.lp{ padding-left: 0;}
	&.rp{ padding-right: 0;}
	&.nop{ padding: 0;}
}

.table-break{
	td:not(.no-break){
		word-break: break-all !important;
	}
}

button{outline: none; border: none;}
.fixed-table-container{ border-bottom: none; border-right: none;}
.table{ border: none; border-radius: 0;}
.btn-group>.btn>.caret{ margin-top: 0;}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{ vertical-align: middle;}
.page-content .btn-default, .page-content  .btn-default:focus{
	background-color: #fff !important;
	border: 1px solid #ccc ;
	color: #555 !important;
	font-size: 13px;
	text-shadow: 0 0 0 rgba(0,0,0,.25)!important;
	padding: 5px 5px 6px;
	margin: 0;
}
.page-content .open .btn-default, .page-content  .open .btn-default:focus{
	background-color: #dfe0e0!important;
}
.btn-group>.btn, .btn-group>.btn+.btn, .btn-group>.btn:first-child{ margin: 0;}
.page-content button{
	height: 34px;
}

.table-con{
	padding: 10px 30px;
	background-color: #faf9f7;
}
.table-con .operate{ min-width: 100px; margin: -5px 0;}
.table-con .operate a{ width: 33.3%; float: left; color: #509dd4; box-sizing: border-box; margin: 2px 0;  border-right:1px solid #509dd4;cursor: pointer;}
.table-con .operate a:last-child{ border:none;}
.table-con .operate a.disabled{ cursor: default; color: #ccc;}
.table-con .operate a.disabled:hover{ text-decoration: none;}
.pagination>li.active>a, .pagination>li.active>a:hover{
	background: #ff9933;
	color:#fff;
	border-color: #ff9933;
}
.table-list{
	padding-top:35px;
}

.pagination>li>a,.pagination>li>a:hover{
	color:#808080;
}
.bootstrap-table table td{
	border-bottom: 1px solid #ddd;
}
.fixed-table-loading{ z-index: 9; }


.orange{
	color:$orange !important;
}
.yellow{
	color:$yellowFont !important;
}
.more-link{
	@include blackBg;
	font-size: $f14;
	padding: 2px 5px;
	float: right;
	&:hover{
		color: $gery;
	}
}

/* header css code */
.top-header{
	height: 85px;
	padding: 10px 12px 0;
	z-index: 1000;
	position: relative;
	margin-bottom: 18px;
	.logo-box{
		float: left;
		min-width: 168px;
		img{
			display: block;

		}
		time{
			display: block;
			font-size: 12px;
			line-height: 1;
		}
	}
	.head-info{
		width: 880px;
		height: 70px;
		float: left;
		margin-left: 80px;
		margin-right: 24px;
		dt{
			background: url("../images/tmp/nav_icon11.png") no-repeat center center;
			@include blackBg(0.3);
			width: 61px;
			height: 69px;
			float: left;
		}
		dd {
			margin-left: 70px;
			border-top:1px solid $lineColor;
			font-size: $f15;
			div{
				border-bottom:1px solid $lineColor;
				height: 35px;
				line-height: 35px;
				>i{
					width: 26px;
					height: 26px;
					display: inline-block;
					vertical-align: middle;
					margin-right: 20px;
					margin-top: -4px;
				}
				&.head-info-box1{
					>i{
						background: $orange url("../images/tmp/warn_icon1.png") no-repeat center center;
					}
				}
				&.head-info-box2{
					>i{
						background: $yellow url("../images/tmp/warn_icon2.png") no-repeat center center;
					}
				}
				.dropdown-icon{
					@include blackBg(0.3);
					width: 26px;
					height: 26px;
					line-height: 26px;
					display: inline-block;
					float: right;
					margin-top: 4px;
					text-align: center;
				}
			}
		}
	}
	.head-tool-menu{
		overflow: hidden;
		li{
			@include blackBg(0.3);
			width: 58px;
			height: 70px;
			display: block;
			float: left;
			margin-right: 6px;
			cursor: pointer;
			&.home{
				background: url("../images/tmp/nav_icon1.png") no-repeat center;
			}
			&.prev{
				background: url("../images/tmp/nav_icon2.png") no-repeat center;
			}
			&.next{
				background: url("../images/tmp/nav_icon3.png") no-repeat center;
			}
			&.user{
				background: url("../images/tmp/nav_icon4.png") no-repeat center;
			}
			&.set{
				background: url("../images/tmp/nav_icon5.png") no-repeat center;
			}
			&.tool6{
				background: url("../images/tmp/nav_icon6.png") no-repeat center;
			}
			&.tool7{
				background: url("../images/tmp/nav_icon7.png") no-repeat center;
			}
			&.tool8{
				background: url("../images/tmp/nav_icon8.png") no-repeat center;
			}
			&.tool9{
				background: url("../images/tmp/nav_icon9.png") no-repeat center;
			}
			&.close{
				background: url("../images/tmp/nav_icon10.png") no-repeat center;
				float: right;
				margin-right: 0;
			}
		}
	}
}

/* public style*/

.ui-title{
	@include blackBg;
	height: 30px;
	line-height: 30px;
	padding-left: 10px;
	font-weight: normal;
}

.ui-messages{
	@include blackBg(.2);
	position: fixed;
	bottom: 8px;
	left: 12px;
	width: 238px;
	height: 40px;
	.icon-broadcast{
		background: url("../images/tmp/msg_icon.png") no-repeat center;
		float: left;
		width: 28px;
		height: 28px;
		position: relative;
		margin: 9px 20px 0 5px;
		.text{
			background-color: #12a70a;
			border-radius: 50%;
			font-size: 10px;
			width: 16px;
			height: 16px;
			padding: 3px 0 0 2px;
			line-height: 1;
			display: flex;
			color: #fff;
			position: absolute;
			top: -7px;
			right: -7px;
			z-index: 10;

		}
	}
	p{
		line-height: 40px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-right: 10px;
	}
}

.main-container{
	#menu-nav{
		@include blackBg(0.2);
		box-shadow: 2px 5px 5px rgba(0,0,0,.1);
		width: 238px;
		float: left;
		color: $gery !important;
		padding-bottom: 30px;
		margin-left: 12px;
		margin-right: 10px;


		font-size: $f15;
		.ui-title{
			font-size: $f16;
		}
		.content{
			padding-left: 15px;
		}
		.title{
			padding: 0 !important;
			color: $gery !important;
			position: relative;
			border-bottom:1px solid $lineColor;
			.mark{
				display: inline-block;
				position: absolute;
				left: 0;
				bottom: 0;
				span{
					display: inline-block;
					padding-bottom: 3px;
				}
			}
			.mark0{
				span{
					padding: 0 5px;
					background: #c2240b;
					height: 40px;
					line-height: 40px;
				}
			}
			.mark1{
				span{
					text-align: center;
					border-bottom: 4px solid;
					width: 32px;
					&:nth-child(1){
						border-color: red;
						color: red;
					}
					&:nth-child(2){
						border-color: yellow;
						color: yellow;
						margin-left: 3px;
					}
				}
			}
			> a{
				display: block;
				height: 100%;
				padding-top: 8px;
				box-sizing: border-box;
				padding-left: 20px;
				&:hover{
					color: #f9a732;
				}
			}
			&.type0{
				height: 48px;
				a{
					padding-top: 15px;
					padding-left: 47px;
				}
			}
			&.type1{
				height: 35px;
				margin-left: 7px;

				a{
					padding-left: 87px;
				}
			}
		}
		.nav-list{ padding-bottom: 8px;}
		.nav-list li > a{ display: block; padding: 6px 0;}
		.router-link-active{
			color: #f9a732;
			position: relative;
			//&::after {
			//	border: 1px solid transparent;
			//	display: block;
			//	height: 0;
			//	width: 0;
			//	position: absolute;
			//	right: 0;
			//	top: 50%;
			//	bottom: auto;
			//	content: "";
			//	transform: translateY(-50%);
			//	border-width: 10px;
			//	border-width: 6px 6px 6px 0;
			//	border-right-color: #fff;
			//}
		}
		.content{
			padding: 0 0 0 38px;
		}
		.active,.animating{
			background-color: #666;
		}
		//&::before{
		//	content: "";
		//	display: block;
		//	width: inherit;
		//	position: absolute;
		//	top: 0;
		//	bottom: 0;
		//	left: 0;
		//	z-index: -1;
		//	background-color: #2d2d2c;
		//	border-style: inherit;
		//	border-color: inherit;
		//	border-width: inherit;
		//}
	}
	.main-content{
		overflow: hidden;
		min-height:400px;
		.page-body{
			position: relative;
			.page-loading{
				display: block;
				position: fixed;
				top: 0 !important;
				left: 0px !important;
				bottom: 0;
				right: 0;
				text-align: center;
				vertical-align: middle;
				background-color: rgba(0,0,0,.45);
				line-height: 1;
				animation-fill-mode: both;
				animation-duration: .5s;
				transition: background-color .5s linear;
				user-select: none;
				will-change: opacity;
				z-index: 999;
				.loader{
					display: block;
					top:50%;
					z-index: 1;
					color: rgba(255,255,255,1);
					&::after{
						border-color:rgba(255,255,255,.6) transparent transparent;
					}
				}
			}
		}
	}
}

.calendar-style{	//日期插件style
	position: relative;
	>i{
		font-size: 24px;
		position: absolute;
		right: 0;
		top: 8px;
	}
}